#i_btn1{font-size: 150px; background-color: black; color: yellow; width: 400px; height: 200px}
#i_div2{font-size: 15px; margin:0px auto 100px; color: yellow}
#ii_div1{text-align: center; font-size: 30px; color: blue; margin: 100px 200px 0px 200px; padding: 100px 20px; height: 100px;}
.cet{text-align: center}
#logindiv{width: 500px; margin: 0px auto 0px; padding: 100px}
#i_div4{text-align: right;}
